// font sizes
$base-font-size: 1.6rem;

// Size
$space: 1.4rem;
$site-max-width: 80rem;

// Colors
$lightGray: #dddddd;
$primary-color: #00AFB7;
$secondary-color: #616466;

// Form Inputs
$input-border: $lightGray;
$input-spacing: 1rem;

// Boxed View
$boxed-view-overlay-bg: $lightGray;
